@model Burger_Station.Models.Branch

@{
    ViewData["Title"] = "Details";
}

<html>
<head>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/Details.css">
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="book-a-table text-center"><a asp-action="Index">Back</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <section></section>

    <main id="main">
        <section id="branches" class="menu">
            <div class="container">

                <div class="section-title">
                    <h2> <span>Details</span></h2>
                </div>

                <div>
                    <h4 style="text-align:center">@Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.District)</h4>
                    
                    <hr />

                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="menu-flters">
                                <li data-filter="*" class="filter-active">Show All</li>
                                <li data-filter=".filter-food">Food</li>
                                <li data-filter=".filter-drink">Drink</li>

                            </ul>
                        </div>
                    </div>

                        @foreach (var group in Model.BranchItems.GroupBy(item => item.Item.Type))
                        {
                            @foreach (var item in group)
                            {
                                <div class="row menu-container">
                                    <div class="col-lg-12 menu-item filter-@item.Item.Type.ToString().ToLower()">
                                        <div class="menu-content">
                                            <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Item.Id">@Html.DisplayFor(modelItem => item.Item.Name)</a>
                                            <span>@Html.DisplayFor(modelItem => item.Item.Price)</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                                   
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>

