@model IEnumerable<Burger_Station.Models.Branch>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">

</head>
<body>
    <section id="title">
        <div class="container-fluid">
            <h1>Branches</h1>
        </div>
    </section>

    <p>
        @if (ViewBag.userType == "Admin")
        {
            <a asp-action="Create">Create New</a>
        }
    </p>

    <table class="table table-striped table-dark">
        @foreach (var group in Model.GroupBy(item => item.District))
        {

            <thead class="thead-light">
                <tr>
                    <th>
                        <strong style="font-size:26px;"> @Html.DisplayNameFor(model => model.Address)</strong>
                    </th>
                    <th>
                        <strong style="font-size:26px;">  @Html.DisplayNameFor(model => model.City)</strong>
                    </th>
                    <th>
                        <strong style="font-size:26px;"> @Html.DisplayNameFor(model => model.District)</strong>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in group)
                {
                    <tr>
                        <td>
                            <strong style="font-size:26px;">@Html.DisplayFor(modelItem => item.Address) </strong>
                        </td>
                        <td>
                            <strong style="font-size:26px;"> @Html.DisplayFor(modelItem => item.City)</strong>
                        </td>
                        <td>
                            <strong style="font-size:26px;">@Html.DisplayFor(modelItem => item.District)</strong>
                        </td>
                        <td>
                            @if (ViewBag.userType == "Admin")
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> @Html.Raw("|")
                            }
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>


        }
    </table>

    </body>
</html>
@section Styles {
    <link rel="stylesheet" href="~/css/branch.css" />
}
