@model Burger_Station.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dd>
            <img src="\images\burgers\@(ViewBag.ItemName).png" alt="item-img" />
        </dd>

    </dl>
</div>

@if(ViewBag.itemType == "Food") {
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Comments.First().PostTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments.First().PostBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments.First().PostDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments.First().PostedBy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedBy)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Comments" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BranchItems.First().Branch.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchItems.First().Branch.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchItems.First().Branch.District)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BranchItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.District)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
