@model Burger_Station.Models.Item

@{
    ViewData["Title"] = "Details";
}



<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/css/comments.css" />
   
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    @if (ViewBag.userType != null)
                    {
                        <li class="book-a-table text-center">
                            <!-- Edit button -->
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        </li>

                        <li class="book-a-table text-center">
                            <!-- Delete button -->
                            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        </li>

                    }
                    <li class="book-a-table text-center"><a asp-action="Index">Back To Menu</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->

    <section></section>

    <!-- ======= Item info ======= -->
    <main id="main">
        <section id="branches" class="menu">
            <div class="container">
                <table style="width:100%">
                    <tr>
                        <th style="text-align:right" width="50%"><img class="circle-photo rounded-circle z-depth-2" src="\images\burgers\@(ViewBag.ItemName).png" data-holder-rendered="true"></th>
                        <th width="50%">
                            <section id="branches" class="menu">
                                <div class="container">
                                    <div class="section-title" style="text-align:left">
                                        <h2>
                                            @Html.DisplayFor(model => model.Name) <br>
                                            <span>@Html.DisplayFor(model => model.Price)</span>
                                        </h2>
                                    </div>
                                </div>
                            </section>
                        </th>
                    </tr>
                </table>
                <!-- ======= Comments ======= -->
                <div id="menu" class="section lb">
                    <div class="container-fluid">
                        @foreach (var item in Model.Comments)
                        {
                            <section id="branches" class="menu">
                                <div class="container">
                                    <div class="section-title">
                                        <img src="~/images/flat-faces-icons-circle-man-1.png" alt="Avatar" style="width:90px">
                                        <h2><span>@item.PostedBy</span>'s Comment on <span>@item.Item.Name</span></h2><br>
                                        <h3>@item.PostTitle</h3>
                                        <p>@item.PostBody</p>
                                        <p>Posted on @item.PostDate</p>
                                    </div>
                                </div>
                            </section>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>
    <table class="joinTable">
        <tr>
            <th> Item Name </th>
            <th> Comment </th>
            
        </tr>
        @{
            foreach (var x in  ViewBag.joinList)
            {
                <tr>
                    <td>@x.itemName</td>
                    <td>@x.itemComments</td>
                    
                </tr>
            }
        }
    </table>


        <!-- End Item info-->
</body>
</html>
