@model IEnumerable<Burger_Station.Models.Item>

@{
    ViewData["Title"] = "Menu";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">

</head>
<body>
    <section id="title">
        <div class="container-fluid">
            <h1>Menu</h1>
        </div>
    </section>
    <div id="menu" class="section lb">
        <div class="container-fluid">
            <p>
                @if (ViewBag.userType == "Admin")
                {
                    <a asp-action="Create">Create New</a>
                }
            </p>

            <div class="searchbox">
                <form asp-action="Search">
                    <input name="name" placeholder="Enter Name" />
                    <input name="price" placeholder="Enter Maximum Price" autocomplete="off" />
                    @*<input name="itemType" placeholder="Enter type of item" autocomplete="off" />*@
                    <select name="itemType" size="2">
                        <option value="Food">Food</option>
                        <option value="Drink">Drink</option>
                    </select>
                    <input type="submit">
                </form>
            </div>



            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-md-3">
                        <div class="services-inner-box">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <div class="ser-icon">
                                    <img src="\images\burgers\@(item.Name).png" alt="item-img" class="img-fluid" />
                                </div>
                            </a>

                            <h2> @Html.DisplayFor(modelItem => item.Name)</h2>
                            <h2> @Html.DisplayFor(modelItem => item.Price)</h2>
                            @if (ViewBag.userType == "Admin")
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> @Html.Raw("|")
                            }
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>

</body>
</html>


@section Styles {
    <link rel="stylesheet" href="~/css/menu/menu.css" />
   
}

