@model Burger_Station.Models.Comment
@{
    ViewData["Title"] = "Details";
}

<html>
<head>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/Details.css">
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="book-a-table text-center"><a asp-action="Index">Back</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->
    <section></section>
    <!-- ======= Details box ======= -->
    <section id="branches" class="menu">
        <!-- Comment info -->
        <div class="container">
            <div class="section-title">
                <h2><span>@Html.DisplayFor(model => model.PostedBy)</span>'s Comment on <span>@ViewBag.Item</span></h2>
                <h3>@Html.DisplayFor(model => model.PostTitle)</h3>
                <p>@Html.DisplayFor(model => model.PostBody)</p>
                <p>Posted on @Html.DisplayFor(model => model.PostDate)</p>
            </div>
        </div>
    </section>
    <!-- End Details box -->
</body>
</html>