@model IEnumerable<Burger_Station.Models.Comment>

@{
    ViewData["Title"] = "";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css"/>
    <link rel="stylesheet" href="~/css/comments.css"/>
</head>
<body>
    <link rel="stylesheet" href="~/assets/css/comments.css" />

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>
    <!-- End Top Bar -->

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <!-- Logo -->
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>

                    <!-- Create new comment button -->
                    @if (ViewBag.userType != null)
                    {
                        <li class="book-a-table text-center"><a asp-action="Create">Add New Comment</a></li>
                    }

                    <!-- Back to Home button -->
                    <li class="book-a-table text-center"><a href="\Home">Back</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->

    <section></section>

    <!-- ======= Title ======= -->
    <section id="title">
        <div class="container-fluid">
            <h1>Comments</h1>
        </div>
    </section>
    <!-- End Title -->

    <!-- ======= Comments ======= -->
    <div id="menu" class="section lb">
        <v class="container-fluid">
            @{ int sign = 1; }
            @foreach (var item in Model)
            {
                <!-- Comment with photo - 1 -->
                @if (sign == 1)
                {
                    sign = 0;
                    <div class="container2">
                        <img src="~/images/img_avatar2.png" alt="Avatar" style="width:90px">
                        <p><span>@Html.DisplayFor(modelItem => item.PostTitle)</span><span>        -</span>@Html.DisplayFor(modelItem => item.PostedBy)</p>
                        <p>@Html.DisplayFor(modelItem => item.PostBody)</p>
                        <div class="editadd">
                            @if (ViewBag.userType == "Admin")
                            {
                                <!-- Edit button -->
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn float-center clicked-btn">Edit</a>

                                <!-- Delete button -->
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn float-center clicked-btn">Delete</a>
                            }

                            <!-- Details button -->
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn float-center clicked-btn">Details</a>
                        </div>

                    </div>
                }
                else
                {
                    <!-- Comment with photo - 2 -->
                    sign = 1;
                    <div class="container2">
                        <img src="~/images/flat-faces-icons-circle-man-1.png" alt="Avatar" style="width:90px">
                        <p><span>@Html.DisplayFor(modelItem => item.PostTitle)</span><span>        -</span>@Html.DisplayFor(modelItem => item.PostedBy)</p>
                        <p>@Html.DisplayFor(modelItem => item.PostBody)</p>
                        <div class="editadd">
                            @if (ViewBag.userType == "Admin")
                            {
                                <!-- Edit button -->
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn float-center clicked-btn">Edit</a>

                                <!-- Delete button -->
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn float-center clicked-btn">Delete</a>
                            }

                            <!-- Details button -->
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn float-center clicked-btn">Details</a>
                        </div>
                    </div>
                }
            }
    </div>
</body>