@model IEnumerable<Burger_Station.Models.Comment>

@{
    ViewData["Title"] = "";
}
<head>

    <link rel="stylesheet" href="~/assets/css/comments.css" />
</head>
<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
        </div>
    </section>
    <!-- End Top Bar -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <!-- Logo -->
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="\Home"><span>Burger Station</span></a></h1>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>

                    <!-- Create new comment button -->
                    @if (ViewBag.userType != null)
                    {
                        <li class="book-a-table text-center"><a asp-action="Create">Add New Comment</a></li>
                    }

                    <!-- Back to Home button -->
                    <li class="book-a-table text-center"><a href="\Home">Back</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->

    <section></section>

    <!-- ======= Title ======= -->
    <section id="title">
        <div class="section-title">
            <h2>Let's hear some <span>Comments!</span></h2>
        </div>
    </section>
    <!-- End Title -->

    @* ------------------ SEARCH --------------------*@

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-body">
                <form asp-action="Search" id="myForm">
                    <div class="form-group">
                        <input name="postTitle" id="postTitle" class="form-control" autocomplete="off" placeholder="Post Title" required />
                    </div>
                    <div class="form-group">
                        <input name="postBy" id="postBy" class="form-control" autocomplete="off" placeholder="Posted By" required />
                    </div>
                    <div class="form-group">
                        <input name="PostItem" id="PostItem" class="form-control" autocomplete="off" placeholder="Item" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Search" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* ------------------ / SEARCH --------------------*@


    <!-- ======= Comments ======= -->
    <div id="menu" class="section lb">
        <div class="container-fluid">
            @foreach (var item in Model)
            {
                <section id="branches" class="menu">
                    <div class="container">
                        <div class="section-title">
                            <img src="~/images/flat-faces-icons-circle-man-1.png" alt="Avatar" style="width:90px">
                            <h2><span>@item.PostedBy</span>'s Comment on <span>@Html.DisplayFor(modelItem => item.Item.Name)</span></h2><br>
                            <h3>@item.PostTitle</h3>
                            <p>@item.PostBody</p>
                            <p>Posted on @item.PostDate</p>

                            <nav style="margin:auto" class="nav-menu d-none d-lg-block text-center">
                                <ul>
                                    @if (ViewBag.userType == "Admin")
                                    {
                                        <!-- Edit button -->
                                        <li class="book-a-table text-center justify-content-center">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </li>

                                        <!-- Delete button -->
                                        <li class="book-a-table text-center justify-content-center">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </li>
                                    }

                                    <!-- Back to Home button -->
                                    <li class="book-a-table text-center justify-content-center">
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
</body>